<main class="main">
  <div class="content">
    <h2>Register</h2>
    <div>name: <input [(ngModel)]="registerDto.name" /></div>
    <div>email: <input [(ngModel)]="registerDto.email" /></div>
    <div>password: <input [(ngModel)]="registerDto.password" /></div>
    <button (click)="register(registerDto)">Register</button>
  </div>

  <hr />
  <div class="content">
    <h2>Login</h2>
    <div>email: <input [(ngModel)]="loginDto.email" /></div>
    <div>password: <input [(ngModel)]="loginDto.password" /></div>
    <button (click)="login(loginDto)">Login</button>
  </div>

  <hr />

  <button (click)="Weather()">Get Weather</button>
</main>

<router-outlet></router-outlet>
